* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a, h1, h2, h3, button {
  font-weight: bold;
  text-transform: uppercase;
}

button {
  margin: 0 5px 0 5px;
  border: none;
  border-radius: 10px;
  background: lightgrey; 
  transition: background .3s ease-in-out;
}

button:hover {
  background: #F7BC05;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #F7BC05;
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.image {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 5px;
  width: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
}

@media (max-width: 768px) {
  .content {
    display: block;
  }

  .content button {
    width: 49%;
  }
}
